<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="user.css">
</head>
<body>
<header>
        <div th:replace="./fragment/userfragment" :: myuserheader></div>
</header>
<form th:action="@{/follow/{id}(id=${profile.id})}" method="POST">

    <button><input type='submit'  value='Follow'></button>

</form>
<div class="containerOne">

    <img class="img" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"/>
    <div class="containeroTwo" >
        <h2>User Name<span th:text="${profile.username}"></span></h2>
        <h2>First Name : <span th:text="${profile.firstName}"></span></h2>
        <h2>Last Name : <span th:text="${profile.lastName}"></span></h2>
        <h2 > Date Of Brith : <span th:text="${profile.dateOfBirth}"></span></h2>
        <h2>Bio : <span th:text="${profile.bio}"></span></h2>
        <div>
            <ul th:each="post : ${profile.posts}" >
                <li class="list-group-item disabled">Post :<span th:text="${post.body}"></span><br/>
                <li class="list-group-item disabled">Time :<span th:text="${post.createdAt}"></span><br/>

                </li>
                <br/>
            </ul>
        </div>

    </div>
</div>
</body>
</html>