<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>hiiiiiiiiiii</h1>-->
<!--<div th:each="user:${followUser}" >-->
<!--  <h2>User name <span th:text="${user.username}" /></h2>-->
<!--  <div th:each="post:${user.posts}" >-->
<!--    <h2>Post Body <span th:text="${post.body}" /></h2>-->
<!--    <h2>Date Created <span th:text="${post.createdAt}" /></h2>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->